/* Windows Bubbles Animation */

.windows-bubbles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: auto;
    overflow: hidden;
}

#bubbleradius {
    width: 4.5rem; /* Half of bubble size (9rem / 2) */
    height: 1px;
    opacity: 0;
    z-index: -1;
    display: block;
    position: absolute;
}

.windows-bubbles .bubble {
    transform: translate(-50%, -50%);
    border-radius: 9rem;
    height: 9rem;
    width: 9rem;
    display: block;
    position: absolute;
    opacity: 1;
    transition: box-shadow 0.5s ease-in-out,
        transform 0.07s ease-out,
        opacity 0.04s ease-in;
}

.windows-bubbles .bubble.popped {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
}

.windows-bubbles .bubble::after {
    content: '';
    position: absolute;
    top: 18%;
    left: 18%;
    background-color: rgba(191, 255, 255, 0.6); /* mix(white, cyan, 75%) */
    width: 0.643rem; /* 9rem / 14 */
    height: 1.5rem; /* 9rem / 6 */
    border-radius: 50%;
    transform: rotate(45deg) scale(0.8);
}
